<div class="container">
    <div class="container-form">
        <h4>Entrar</h4>
        <form [formGroup]="form" (ngSubmit)="login()">
            <input formControlName="email" type="email" placeholder="E-mail">

            <div class="submit-line">
                <input formControlName="password" [type]="showPassword ? 'password' : 'text'" placeholder="Senha" />
                <button class="submit-icon" type="button" (click)="viewPassword()">
                    <i [class]="icon"></i>
                </button>
            </div>
            <p class="link">Esqueceu a senha?</p>
            <button class="btn btn-primary" type="submit">Entrar</button>
            <a class="link">Não tem uma conta? Cadastre-se</a>
        </form>
    </div>
    <div class="clip"><img src="../assets/images/bottom-login.png" alt=""></div>
</div>