@import '../../../assets/utils';

.container .btn.btn-primary {
  top: 427px;
  left: 499px;
  width: 371px;
  height: 60px;
  align-items: left;
}

a.link {
  display: block;
  text-align: center;
  margin-top: 24px;
  color: #0077c5;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: color("primary")
  }
}

p {
  color: #585859;
  font-size: 12px;
  font-weight: bold;
  text-align: end;
  text-transform: uppercase;
}

h4 {
  color: #585859;
  font-weight: bold;
  font-size: 29px;
}


.submit-icon {
  position:absolute;
  top:6.5px; right:-160px;
  color: color("light");
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}

.submit-line {
  position: relative;
  width: 200px;
}

.clip {
  bottom: 0%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
